/* set default fonts for the site */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

/* Default Setting */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1320px;
    margin: 0 auto;
}
section{
    margin-top: 12rem;
}

/* Shared design (color - flex) */
.display-flex {
    display: flex;
}
.hidden {
    visibility: hidden;
}
.none{
    display: none;
}
.show{
    display: block;
}

.white{
    color: rgb(255, 255, 255);
}
.red{
    color: rgb(255, 0, 0);
}
.black{
    color: rgb(7, 2, 17);
}
.black-light{
    color: rgba(7, 2, 17, 0.6);
}


/* Header */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background-color: rgba(15, 3, 43, 0.87);
    color: rgb(255, 255, 255);
    border-radius: 0 0 10px 10px;
}

.menu{
    display: flex;
    gap: 2rem;
}

.menu  li {
    list-style: none;   
}

.menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.66rem;
    font-weight: 500;
}

.brand{
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    font-weight: 500;
}

/* <!-- banner section --> */
.banner-container{
    border-radius: 16px;
    background: linear-gradient(180.00deg, 
    rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), 
    url(../images/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
.banner{
    text-align: center;
}
.banner h4{
    font-size: 2.7rem;
    font-weight: 400;
}
.banner h1{
    font-size: 6rem;
    font-weight: 900;
}




/* Main Section */
/* <!-- Discount section --> */
.discount h1{
    font-family: Inter;
    font-size: 7.34rem;
    font-weight: 700;
    margin-bottom: 4rem;
    text-align: center;
}

.discount-container{
    text-align: center;
}


.discount-container p{
    font-family: Inter;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.34rem;
}

.discount-container h4{
    font-family: Inter;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 4rem;
}
.discount-container img{
    max-width: 100%;
}

/* Welcome to midnight party */
.midnight{
    border-radius: 16px;
    background: linear-gradient(90.00deg, 
    rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), 
    url(../images/Vectorrr.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    color: rgb(255, 255, 255);
    justify-content: space-around;
    align-items: center;
}
.midnight-text{
    max-width: 58rem;
}
.midnight-text h1{
    font-size: 5.33rem;
    font-weight: 900;
    margin-bottom: 2rem;
}
.midnight-text p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 3.5rem;
}
.btn{
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.66rem;
    font-weight: 700;
    padding: 1rem 2rem;
    margin-left: 1rem;
}
.midnight-img {
    max-width: 100%;
}
.midnight-img img{
    max-width: 100%;
}

/* Venue section */
.venue{
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    height: 482px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.venue-title{
    font-family: Inter;
    font-size: 2.7rem;
    font-weight: 600;
    /* padding: auto; */
    line-height: 4rem;
}

.venue-btn{
    border-radius: 0.7rem;
    border: none;
    background: rgb(255, 0, 0);
    padding: 1rem 2rem;
    font-family: Inter;
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 8.34rem;
}

/* NEW BEST OFFER */
.offer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.offer-content-1{
    max-width: 32.75rem;
}
.offer-content-1 h5{
    font-family: Inter;
    font-size: 2rem;
    font-weight: 500;
}
.offer-content-1 h2{
    font-size: 4rem;
    font-weight: 900;
    margin-top: 1.33rem;
    margin-bottom: 1.83rem;
}

.offer-content-1 p{
    font-family: Inter;
    font-size: 1.67rem;
    font-weight: 400;
}


.offer-content-2{
    background-image: url(../images/Red-Circle-Small-PNG-Pic.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 38.58rem;
    height: 38.58rem;
    justify-content: center;
    align-items: center;
}
.ellipse-png{
    max-width: 364px;
    max-height: 364px;
}
.offer-content-2 img{
    max-width: 100%;
    max-height: 100%; 
}

.offer-content-3{
    max-width: 23rem;
}

.offer-content-3 h2{
    font-family: Inter;
    font-size: 4rem;
    font-weight: 700;
}
    
.offer-content-3 p{
    font-family: Inter;
    font-size: 1.67rem;
    font-weight: 400;
    margin-top: 1.34rem;
    margin-bottom: 3.83rem;
}

/* <!-- Holidays Sale --> */
.holyday-content{
    max-width: 89rem;
    margin: 0 auto;
    text-align: center;
}
.holyday-content h5{
    font-family: Inter;
    font-size: 2rem;
    font-weight: 500;
}

.holyday-content h1{
    font-size: 6rem;
    font-weight: 900;
    margin-top: 1.33rem;
    margin-bottom: 2.4rem;
}

.holyday-content p{
    font-family: Inter;
    font-size: 1.67rem;
    font-weight: 500;
}

/*  bonus section  */
.bonus{
    background-image: url(../images/Rectangle\ 2.png);
    background-position: bottom ;
    background-repeat: no-repeat;
}

.bonus-images{
    justify-content: space-evenly;
    align-items: center;
    height: 55.17rem;
}

.bonus img{
    max-width: 100%;
}

.best-gift h5{
    font-family: Inter;
    font-size: 2rem;
    font-weight: 500;
}

.best-gift h2{
    font-size: 4rem;
    font-weight: 900;
    margin-top: 1.34rem;
    margin-bottom: 1.67rem;
}

.best-gift p{
    font-family: Inter;
    font-size: 1.67rem;
    font-weight: 500;
    margin-top: 1.34rem;
    margin-bottom: 3.83rem;
}

.best-gift-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}


/* <!-- Subscribe Newsletter --> */
.subscribe{
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    height: 51.34rem;
}
.subscribe h2{
    font-size: 4rem;
    font-weight: 900;
    margin-top: 3.33rem;
    margin-bottom: 1.83rem;
}

.subscribe p{
    font-family: Inter;
    font-size: 1.67rem;
    font-weight: 400;
}
.subscribe-form-btn{
    margin-top: 4rem;
}

.subscribe-form-btn input[type="email"] {
    height: 6rem;
    border: none;
    border-radius: 4.2rem 0 0 4.2rem;
    padding: 2rem 20rem 2rem 2.5rem;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
}
.subscribe-form-btn button {
    height: 6rem;
    color: rgb(255, 255, 255);
    padding: 2rem 4.7rem;
    border: none;
    font-family: Inter;
    font-size: 1.67rem;
    font-weight: 600;
    border-radius: 0 4.2rem 4.2rem 0;
    background: rgb(255, 0, 0);
}



/* Footer */
.footer-container{
    height: 50.75rem;
    background-color: rgb(7, 2, 17);
    color: rgb(255, 255, 255);
}
.footer-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer-text{
    margin-top: 5rem;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    padding: 5rem 4rem;
}
.footer-content p{
    font-family: Inter;
    font-size: 2rem;
    font-weight: 500;
}
hr{
    width: 80%;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 2rem;
    margin-bottom: 2rem;
}










/* responsive design for mobile */

@media screen and (max-width: 480px){
    body{
        max-width: 95%;
        margin: 0 auto;
    }
    .navbar{
        display: none;
    }
    section{
        margin-top: 5rem;
    }
    .banner h1{
        font-size: 4rem;
    }
    .discount h1{
        margin-bottom: 2rem;
        font-size: 5.5rem;
    }
    .discount-container h4{
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .midnight{
        flex-direction: column;
        height: auto;
        gap: 2rem;
    }
    .midnight-text{
        text-align: center;
        width: 90%;
    }
    .midnight-img{
        max-width: 100%;
        text-align: center;
    }
    .midnight-img img{
        max-width: 90%; 
    }
    .midnight-text h1{
        font-size: 4.5rem;
        margin-bottom: 1.8rem;
    }
    .midnight-text p{
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    .venue-title{
        font-size: 2.2rem;
        line-height: 3rem;
    }
    .venue-btn{
        margin-top: 5rem;
    }
    .offer-container{
        flex-direction: column;
        text-align: center;
        gap: 4rem; 
    }
    .offer-content-2 {
        width: 100%;
        height: 100%;
    }
    .ellipse-png {
        max-width: 100%;
        max-height: 100%;
    }
    .offer-content-2 img {
        max-width: 100%;
        padding: 10px;

    }
    .holyday-content h1{
        font-size: 4rem;
    }
    .bonus-container{
        display: none;
    }
    .best-gift-img{
        grid-template-columns: repeat(2, 1fr);
    }
    .best-gift-img img{
        max-width: 100%;
    }

    .subscribe img{
        max-width: 40%;
        max-height: 40%;
    }
    .subscribe {
        height: auto;
        padding: 1rem;
    }

    .subscribe h2 {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .subscribe p {
        font-size: 1.2rem;
    }

    .subscribe-form-btn {
        margin-top: 1rem;
    }

    .subscribe-form-btn input[type="email"], 
    .subscribe-form-btn button {
        height: 3rem;
        font-size: 1rem;
    }

    .subscribe-form-btn input[type="email"] {
        padding: 0.5rem;
        border-radius: 1rem 0 0 1rem;
    }

    .subscribe-form-btn button {
        padding: 0.5rem;
        border-radius: 0 1rem 1rem 0;
    }
    .footer-container{
        text-align: center;
        gap: 2rem;
    }
    .footer-text{
        flex-direction: column;
        padding: 1.5rem;
    }
}



/* responsive design for tablet */
@media (min-width: 480px) and (max-width: 1024px){
    body{
        max-width: 95%;
        margin: 0 auto;
    }
    .navbar{
        display: none;
    }
    section{
        margin-top: 7rem;
    }
    .discount h1{
        margin-bottom: 2rem;
    }
    .midnight{
        flex-direction: column;
        height: auto;
        gap: 3rem;
    }
    .midnight-text{
        text-align: center;
    }
    .midnight-img{
        max-width: 100%;
        text-align: center;
    }
    .midnight-img img{
        max-width: 90%; 
    }
    .offer-container{
        flex-direction: column;
        text-align: center;   
        gap: 4rem;
    }
    .bonus-container{
        display: none;
    }
    .best-gift-img img{
        max-width: 100%;
    }

    .subscribe-form-btn input[type="email"], 
    .subscribe-form-btn button {
        height: 4rem;
        font-size: 2rem;
    }

    .subscribe-form-btn input[type="email"] {
        padding: 1rem;
        border-radius: 3rem 0 0 3rem;
    }

    .subscribe-form-btn button {
        padding: 1rem;
        border-radius: 0 3rem 3rem 0;
    }
}